/* roboto-regular - latin */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
 }
/* open-sans-regular - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
 }

html {
   box-sizing: border-box;
}
*, *::before, *::after {
   box-sizing: inherit;
}
* {
   outline: none;
   text-decoration: none;
   margin: 0;
   padding: 0; 
}

/* Header */
header {
   position: absolute;
   width: 100%;
}
#wrapper{
   max-width: 1440px;
   margin: 0 auto;
}
#header_wrapper {
   margin:0 120px;
   width: 1200px;
   display: flex;
   flex-wrap: wrap;
   color: #f7f7f7;
   justify-content: space-between;
   margin-top: 19px;
}
#header_wrapper #logo {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

#header_wrapper #logo p {
   font-family: 'Roboto';
   font-size: 32px;
   margin: 0 15px 0 18px;
}
#header_nav {
   display: flex;
   align-items: center;
}
#header_list {
display: flex;
flex-wrap: wrap;
list-style-type: none;
align-items: center;
font-family: 'Open Sans';
font-size: 23px;
}
#header_list li {
   padding: 5px 1px;
   margin-right: 60px;
}
#header_list li:last-child{
   margin-right: 0;
}

.list a {
   color: #f7f7f7;
}
.list {
   border: 0px solid inherit;
   border-radius: 5px;
}

.list:hover{
   background: #E39128;
   transition: all 0.1s ease-in;
}
.icon{
   display: flex;
   cursor: pointer;
   background-color: inherit;
   font-size: 23px;
   border:none;
   display: flex;
   justify-content: center;
   padding: 4px;
}
.icon:hover {
   border-radius: 5px;
   background: #E39128;
   transition: all 0.1s ease-in;
}
.sign {
   cursor: pointer;
   color: #f7f7f7;
   border: 1px solid #cd6326;
   border-radius: 5px;
   background-color: inherit;
   width: 120px;
   height: 50px;
   font-size: 23px;
}
.sign:hover{
   background: #E39128;
   transition: all 0.1s ease-in;
}

/* Survival */

#survival {
   height: 100vh;
   background: url(/img/Rectangle.png) no-repeat;
   background-size: cover;
   padding-top: 199px;
   
}
#wrapper_main {
   margin:0 120px;
   width: 1200px;
}
#title_survival {
   font-family: 'Open Sans';
   font-weight: normal;
   font-size: 48px;
   line-height: 72px;
   color: #CD6326;
}
#text_survival {
   margin-top: 51px;
   width: 274px;
   height: 108px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 27px;
   color: #F7F7F7;
}
.donate {
   border: none;
   width: 160px;
   height: 60px;
   border-radius: 5px;
   background: #CD6326;
   margin-top: 49px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: normal;
   font-size: 23px;
   line-height: 27px;
   text-align: center;
   color: #F7F7F7;
}
.donate:hover {
   cursor: pointer;
   background-color:#E39128;
}

/* latest_articles */

#latest_articles {
   background-color: #cccccc;
}
#wrapper_article {
   margin:0 120px;
   width: 1200px;
}
#wrapper_article h2 {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 72px;
   text-align: center;
   color: #333333;
   padding-top: 120px;
}
#wrapper_article p {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   color: #666666;
   padding-top: 20px;
}
.slider_img{
   display: flex;
   margin-top: 120px;
}
#slider {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.slider_img h4{
   position: absolute;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 36px;
   color: #F7F7F7;
   width: 300px;
   margin-top: 247px;
   text-align: center;
}
.slider_img small{
   position: absolute;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   font-size: 17px;
   line-height: 27px;
   color: #F7F7F7;
   margin-top: 293px;
   width: 300px;
   text-align: center;
}
